.switch-content {
  padding: 0.5%;
  box-sizing: border-box;
  width: 300px;
  height: 45px;
  /* width: 20%; */
  /* height: 5%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}

.switch {
  justify-content: space-around;
  position: relative;
  display: inline-block;
  width: 20%;
  height: 90%;
}

.slider {
  width: 56px;
  height: 23px;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  opacity: 1;
  transition: transform 400ms ease;
  transition: opacity 500ms;
  border-radius: 50px;
  padding: 5%;
}

.checkbox {
  display: none;
}

.slider::before {
  position: absolute;
  content: '';
  width: 40%;
  height: 95%;
  background-color: white;
  transition: 800ms;
  border-radius: 50px;
}

.switch-text {
  color: hsl(232, 13%, 33%);
  font-weight: 700;
}

.checkbox:checked + .slider {
  opacity: 0.6;
}

.checkbox:checked + .slider::before {
  transform: translateX(150%);
}

@media screen and (max-width: 430px) {
  .switch-content {
    padding: 0.5%;
    box-sizing: border-box;
    width: 50%;
    height: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2% auto;
  }

  .slider {
    width: 36px;
    height: 14px;
  }
}
